
/Megawastu.Valas.RateFeeder/MoneyChanger/build
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/classes

*.sln.cache
*.suo
*.war

bin/
obj/
build/
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/lib/MoneyChangerLib.jar
service/
dist/
*-service/
/Megawastu.Valas.RateFeeder/MoneyChanger/moneychanger.war
/Megawastu.Valas.RateFeeder/MoneyChanger/build1.xml
/Megawastu.Valas.RateFeeder/moneychanger.war