
/Megawastu.Valas.RateFeeder/MoneyChanger/build
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/classes

*.sln.cache
*.suo
*.war

bin/
obj/
build/
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/lib/MoneyChangerLib.jar
dist/
*-service/
/Megawastu.Valas.RateFeeder/MoneyChanger/moneychanger.war
/Megawastu.Valas.RateFeeder/MoneyChanger/build1.xml
/Megawastu.Valas.RateFeeder/moneychanger.war
/Megawastu.Valas.RateFeeder/SnapScheduler/example.log

/Megawastu.Valas.KursProvider/_ReSharper.Megawastu.Valas.KursProvider
/Megawastu.Valas.KursProvider/packages/NLog.2.0.0.2000/lib/net35
/Megawastu.Valas.KursProvider/packages/NLog.2.0.0.2000/lib/net20