
/Megawastu.Valas.RateFeeder/MoneyChanger/build
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/classes

*.sln.cache
*.suo

bin/
obj/
build/
/Megawastu.Valas.RateFeeder/MoneyChanger/WebContent/WEB-INF/lib/MoneyChangerLib.jar