.lightheader{
	background-color: #1FC899;
	text-decoration: none;
	font-weight: bold;
}

.light {
	background-color: #e7f9ea;
	text-decoration: none;
	font-weight: bold;
}

.light:hover{
	background-color: #c8d6fb;
	text-decoration: none;
	font-weight: bold;
}
a.menu{
	font-family: "Courier New", Courier, mono;
	font-size: 150%;
	color: #333333;
	
	text-decoration: none;
	font-weight: bold;
}

a.menu:hover {
	font-family: "Courier New", Courier, mono;
	font-size: 150%;
	color: #1FC899;
	
	text-decoration: none;
	font-weight: bold;
}

a.black{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #000000;

	text-decoration: none;
	font-weight: bold;
}

a.black:hover{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #1FC899;

	text-decoration: none;
	font-weight: bold;
}

a.blue{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #4583f5;

	text-decoration: none;
	font-weight: bold;
}

a.blue:hover{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #1FC899;

	text-decoration: none;
	font-weight: bold;
}

a.red{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #fa2049;

	text-decoration: none;
	font-weight: bold;
}

a.red:hover{
	font-family: "Courier New", Courier, mono;
	font-size: 100%;
	color: #1FC899;

	text-decoration: none;
	font-weight: bold;
}