<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rest_location" value="http://192.168.1.1:8080/moneychanger/rest/rates"/>
    <add key="excel_location" value="D:\project\triplelands\moneychanger\docs\ratesource.xls"/>
    <add key="holiday_date" value="1.1,27.3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
