<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rest_location" value="http://dev.ratefeeder.com:8080/moneychanger/rest/rates"/>
    <add key="excel_location" value="D:\project\triplelands\moneychanger\docs\ratesource.xls"/>
    <add key="holiday_date" value="1.1,25.12"/>
    <add key="excel_read_timer" value="2000"/>

    <add key="base_usd_start" value="22"/>
    <add key="base_usd_end" value="40"/>
    
    <add key="base_idr_start" value="44"/>
    <add key="base_idr_end" value="62"/>

  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>

