<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <targets>
    <target name="console" xsi:type="ColoredConsole"
      layout="${longdate} ${threadid:padding=3} ${level:padding=-10} ${logger:padding=-10} ${message} ${exception:format=tostring}" />
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/rrLog.log"
      layout="${longdate} ${threadid:padding=3} ${level:padding=-10} ${logger:padding=-10} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
